
	<div class="table-wrapper"><form action="/createmovie" method="post" name="createMovie">
	<div class="table-title">
		<h2>Create Movie</h2>
	</div>

	<table class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th><b>Title</b></th>
                      <th><b>Poster</b></th>
                      <th><b>Genre</b></th>
                      <th><b>Release Date</b></th>
                      
                    </tr>
                </thead>
                <tbody>
                	<tr>
                	
                		<td><input type="text" name="title" required></td>
                		<td><input type="file" name="poster" required></td>
                		<td><input type="text" name="genre" required></td>
                		<td><input type="text" name="release" required></td>
                	
                		

                	</tr>
                		
                
            
    </tbody>
</table>

<div class="submit_movie">
<input type="submit" value="Create Movie!">
</div>
</form>
</div>
