<h2>Create Review</h2>

<form action="/createreview" method="post" name="createReview">
  Title: <select name="title">
           <option value="" disabled selected>Please select an option...</option>
           <% @moviez.each do |movie| %>
             <option value="<%= movie.title %>"><%= movie.title %></option>
           <% end %>
         </select><br>
 Content: <textarea rows="20" cols="90" name="content"></textarea>
 <script>
        CKEDITOR.replace( "content" );
      </script>

  <input type="submit" value="Create Review!">
</form>
