<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="passwordvalidationstyle.css" type="text/css">
	</head>
	<body>
		<div class="registerlogin">
		<h2>Login</h2>
	</div>
	 	<div class="container">
  			<form action="/login" method="post" >
    			<label for="usrname">Username</label>
    			<input type="text" id="usrname" name="username" required>
				<label for="password">Password</label>
    			<input type="password" id="password" name="password" required>
    			<input type="submit" value="Login">
  			</form>
		</div> 
	</body>
</html>
